html{
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-25%);
    text-align: center;
    background-color: black;
    margin: 0;
    border: 0;
    padding: 0;
    color: white;

}

.spinner {
    display: flex;
    justify-content: center;
    margin: auto;
}


td{
    font-family: 'Oswald', sans-serif;
}

th{
    font-family: 'Montserrat', sans-serif;
}

video.jumbotron {
    margin: auto;
    height: 500px;
    background: black;
    padding: 0;
    width: 100%;
}






